<% include ../partials/header.ejs %>

<!--external-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<h2 class="text-center">
  Delete "<%= conversation.title %>"!
</h2>

<p class="w-75 m-auto">
  <%= conversation.author %>
</p>

<p class="w-75 m-auto">
  <%= conversation.created %>
</p>

<p class="w-75 m-auto">
  <%= conversation.content %>
</p>

<br>

<h1 class="alert alert-danger m-auto w-75">
  Warning, this can not be undone!
</h1>

<br>

<% 
var goto = "";
if (redirect) {
  goto = redirect
}
%>
<form id="conversation-edit" action="/conversation/<%= conversation._id %>?_method=DELETE&redirect=<%= goto %>" method="POST">

  <button class="ui inverted red massive button d-block w-50 m-auto">
    DELETE IT
  </button>
  
</form>

<% include ../partials/footer.ejs %>