<% include ../partials/header.ejs %>

<!--external-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<!--internal-->
<link rel="stylesheet" href="stylesheets/os.css">
<script type="text/javascript" src="scripts/os.js"></script>

<!--global variables (for passing backend information to javascript files! :D)-->
<%
  var conversationCount = 0;
%>

<h1 class="text-center">
  Jesus loves you guys!
</h1>

<a class="massive inverted purple ui button d-block m-auto w-50" href="mailto:ghostofmmo@gmail.com" style="font-size: 5.0rem;">
  Join me!
</a>

<br>

<!--menu-->
<div class="m-auto w-75 massive ui pointing menu">
  <a class="item active" href="#topics">
    Home
  </a>
  <a class="item" href="#rules">
    Rules
  </a>
  <a class="item" href="#stats">
    Stats
  </a>
</div>

<!--content-->
<div class="w-100" id="content">
  
  <!--topics-->
  <div id="topics" class="section">
    
    <!--to add a topic-->
    <% if (currentUser && currentUser.authorization == 1) { %>
      <br>
      <div class="w-75 m-auto ui accordion">
        <h1 id="topicAddAlert" class="text-center alert alert-success">Topic Added!</h1>
        <form id="topicForm" action="/os/conversation" method="POST">
          <h1 class="text-center title">
            Add topic
            <i class="dropdown icon"></i>
          </h1>
          <div class="content">
            <h4>Title: </h4>
            <input type="text" name="title" class="form-control" required placeholder="title...">
            <h4>Content: </h4>
            <input type="text" name="content" class="form-control" required placeholder="content...">
            <h4>Category: </h4>
            <input type="text" name="category" class="form-control" required placeholder="category...">
            <br>
            <button class="btn w-50 m-auto d-block btn-success">
              <h1>Add topic!</h1>
            </button>
          </div>
          <br>
        </form>  
      </div>
      <br>
    <% } %>
    
    <!--to display the topics-->
    <div id="topics-list">
      
      <!--each topic-->
      <!-- Remember! EJS is synchronous! :D -->
      <%      
      // courtesy of: https://stackoverflow.com/questions/5432967/how-to-iterate-over-inner-objects-property-in-an-object
      function recursor(obj, depth) {
        // if it's an array of conversations
        if (Array.isArray(obj)) {
      %>
      <div class="ui comments">
      <%
          obj.forEach(function(conversation) {
            recursor(conversation, depth);
          });
      %>
      </div> <!-- /comments -->
      <%
        // else it must be a conversation
        } else {
          conversationCount ++;
          var outermostClasses;
          var titleFontSize;
          var titleClasses;
          var authorClasses;
          var dateClasses;
          var contentClasses;
          var accordionClasses;
          if (obj.category == "topic") {
            outermostClasses = "comment topic";
            titleFontSize = 1.5 + (1 / depth);
            titleClasses = "topic_title text-center";
            authorClasses = "topic_author";
            dateClasses = "topic_date";
            contentClasses = "topic_content";
            accordionClasses = "ui accordion";
          } else {
            outermostClasses = "comment";
            titleFontSize = 1 + (0.9 / depth);
            titleClasses = "";
            authorClasses = "";
            dateClasses = "comment_date";
            contentClasses = "";
            accordionClasses = "accordion";
          }
      %>
        <!--main + content-->
        <br>
        <div class="<%= outermostClasses %> <%= accordionClasses %>">
          <h1 class="<%= titleClasses %> title" style="font-size: <%= titleFontSize %>rem;">
            <%- obj.title %>
            <i class="dropdown icon"></i>
          </h1>
          <div class="content">
            <div class="contentvote">
              <div class="conversation_content w-75">
                <a class="<%= authorClasses %>" style="font-size: <%= 1 + (0.9 / depth) %>rem;">
                  <%- obj.author.username %>
                </a>
                <p class="<%= dateClasses %>" style="font-size: <%= 1 + (0.9 / depth) %>rem;">
                  <%- obj.created %>
                </p>
                <div class="text">
                  <p class="<%= contentClasses %>" style="font-size: <%= 1 + (0.8 / depth) %>rem;">
                    <%- obj.content %>
                  </p>
                </div>
                <!--conversing-->
                <% if (currentUser) { %>
                  <div class="w-75 m-auto accordion">
                    <form action="/conversation/<%= obj._id %>" class="w-100" method="POST">
                      <h1 class="blue ui button text-center title d-block m-auto w-75" style="font-size: <%= 1 + (1 / depth) %>rem;">
                        Converse
                        <i class="dropdown icon"></i>
                      </h1>
                      <div class="content">
                        <h4>Title: </h4>
                        <input type="text" name="title" class="form-control" required placeholder="title...">
                        <h4>Content: </h4>
                        <textarea name="content" class="form-control" required></textarea>
                        <input name="category" type="hidden" value="topic_conversation">
                        <br>
                        <button class="inverted blue ui button w-50 m-auto d-block">
                          Conversate
                        </button>
                      </div>
                    </form>
                  </div>
                <% } else { %>
                    <h4 class="text-center">
                      Please login to converse.
                    </h4>
                <% } %>
                <br>
                <!--actions-->
                <% if ((currentUser && currentUser.authorization == 1) || (currentUser && obj.author._id.equals(currentUser._id))) { %>
                  <div class="w-75 m-auto ui accordion">
                    <h1 class="orange ui button text-center title d-block m-auto w-75" style="font-size: <%= 1 + (1 / depth)%>rem;">
                      Actions
                      <i class="dropdown icon"></i>
                    </h1>
                    <div class="content">
                      <div class="w-75 m-auto text-center">
                        <a class="big yellow inverted ui button w-100" href="/conversation/<%= obj._id %>/edit?redirect=os">
                          Edit
                        </a>
                      </div>
                      <br>
                      <div class="w-75 m-auto text-center">
                        <a class="big red inverted ui button w-100" href="/conversation/<%= obj._id %>/delete?redirect=os">
                          Delete
                        </a>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div> <!-- /content -->
            <br>
            <!--voting-->
            <div class="w-25 m-auto voting">
              <form action="/conversation/<%= obj._id %>/yes" method="POST" class="labeled ui button w-50 m-auto voting_form yesform" tabindex="0">
                <div class="red ui button w-50 yesbutton">
                  <i class="heart icon"></i> Yes!
                </div>
                <a class="basic red left pointing ui label w-50 yescounter">
                  <%= obj.yes || "0" %>
                </a>
              </form>
              <br>
              <form action="/conversation/<%= obj._id %>/no" method="POST" class="labeled ui button w-50 m-auto voting_form noform" tabindex="0">
                <div class="blue ui button w-50 nobutton">
                  <i class="thumbs down icon"></i> no...
                </div>
                <a class="basic blue left pointing ui label w-50 nocounter">
                  <%= obj.no || "0" %>
                </a>
              </form>
            </div>
            </div> <!-- /contentvote -->
            <!--nested comments-->
            <% recursor(obj.conversation, depth + 1); %>
          </div> <!-- /content -->
        </div>  <!-- /comment -->
      <%
        }
      }
      var conversation = page.conversation.filter(function(conversation) { return conversation.category == "topic"; } );
      recursor(conversation, 1);
      %>
    </div>
    
  </div>



  <div id="rules" class="section hideme container">
    <h1 class="text-center">
      Yes, we have rules!
    </h1>
    
    <!--the rules-->
    <h1 class="ui top attached header">
      Keep it G for Godly!
      <br>
      Godly means:
    </h1>
    <div class="ui attached segment">
      <h2 class="noweight">
        Respect
      </h2>
      <h2 class="noweight">
        Clean speech
      </h2>
      <h2 class="noweight">
        Jesus-oriented or nothing-oriented
      </h2>
    </div>
    
    <h1 class="ui top attached header">
      Keep it either relevant or in the "unrelated"
    </h1>
    
    <h1 class="ui top attached header">
      No trolling, which includes:
    </h1>
    <div class="ui attached segment">
      <h2 class="noweight">
        Session stealing
      </h2>
      <h2 class="noweight">
        Information stealing
      </h2>
      <h2 class="noweight">
        Breaking the app if I'm not cool with it (but not handsome, I'm always handsome)
      </h2>
      <h2 class="noweight">
        Trying to/Successfully bypass/ing a ban in any way to get back your banned priveleges
      </h2>
      <h2 class="noweight">
        Purposeful unhelpful information
      </h2>
      <h2 class="noweight">
        snackpack sticks and cheese dip thingies
      </h2>
      <h2 class="noweight">
        Well, I think that's it, but uh just be respectful and stuff and don't try to pull off any shenanigans or anything :/
      </h2>
    </div>

  </div>
  
  

  <div id="stats" class="section hideme">
    
    <canvas id="myChart"></canvas>
    
  </div>

</div>

<pageJSON>
  <views>
    <%= page.views %>
  </views>
  <conversation>
    <%= conversationCount %>
  </conversation>
</pageJSON>

<% include ../partials/footer.ejs %>