<% include ../partials/header.ejs %>

<!--external-->
<script type="text/javascript" src="https://www.paypalobjects.com/api/checkout.js"></script>

<!--internal-->
<link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">

<span style="display: none;" id="currentUserId"><%= currentUser._id %></span>
<span style="display: none;" id="ebookId"><%= ebook._id %></span>

<br>
<h1 class="text-center">
  Buy:
  <span><h2><%= ebook.title %></h2></span>
  <hr>
</h1>

<div class="row">
  <div class="col-6">
    <br><br>
    <h1 class="text-center">$<%= ebook.price %></h1>
    <br><br><br>
     <a id="paypal-button" class="w-50 m-auto d-block button button-3d button-primary button-large button-rounded">
       Buy!
     </a>
  </div>
  <div class="col-6">
    <br><br>
    <h4 class="text-center">
      <%= ebook.title %>
    </h4>
    <br><br>
    <p class="w-75 m-auto">
      <%= ebook.description %>
    </p>
    <br>
    <h6 class="text-center text-muted">
      <%= ebook.created %>
    </h6>
  </div>
</div> 

<% include ../partials/footer.ejs %>