<% include ../partials/header.ejs %>



<!--external-->
<link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!--internal-->
<link rel="stylesheet" type="text/css" href="/stylesheets/ebooks-show.css">
<script type="text/javascript" src="/scripts/ebook-show.js"></script>

<!--display like this on large+ screens-->
<div id="container-lgplus" class="lgplus nonebox">
  
  <!--likes-->
  <div class="likes nonebox">
    <br><br>
    <p class="likes_title">
      Likes
    </p>
    <p class="likes_count">
      <%= ebook.likes %>
    </p>
    <br>
    <form class="like-form" action="/ebooks/<%= ebook._id %>/like" method="POST">
      <button href="http://unicorn-ui.com/" class="like_button d-block m-auto button button-3d button-giant button-primary button-rounded">
        Like this Ebook <span class="fa fa-thumbs-up"></span>
      </button>
    </form>
  </div>
  
  <!--main-->
  <div class="main nonebox">
    <h3 class="main_title">
      <%= ebook.title %>
    </h3>
    <hr>
    <p class="main_created">
      <%= ebook.created %>
    </p>
    <p class="main_description">
      <%= ebook.description %>
    </p>
  </div>
  
  <!--views-->
  <div class="views nonebox">
    <br><br><br>
    <p class="views_title">
      Views
    </p>
    <p class="views_count">
      <%= ebook.views %>
    </p>
    <br>
    <button href="http://unicorn-ui.com/" class="d-block m-auto button button-3d button-giant button-royal button-rounded">
      Viewed <span class="fa fa-eye"></span>
    </button>
  </div>
  
  <div class="w-50 m-auto">
    <hr>
    <br>
    <br>
    <h2 class="text-center">
      <%= ebook.users.length %> Sold so far :)
    </h2>
    <br>
    <br>
    <hr>
  </div>
  
  <!--actions-->
  <div class="actions nonebox row">
  
    <!--preview-->
    <div class="preview col-6">
      <p class="preview_title">
        Preview this Ebook
      </p>
      <a class="d-block m-auto preview_button button button-glow button-border button-rounded button-giant button-highlight" href="/ebooks/<%= ebook._id %>/read">
        Preview <span class="fa fa-search"></span>
      </a>
    </div>
    
    <!--buy-->
    <div class="buy col-6">
      <p class="buy_title">
        Buy this Ebook
      </p>
      <a class="d-block m-auto button button-glow button-border button-rounded button-giant button-action" href="/ebooks/<%= ebook._id %>/buy">
        Buy <span class="fa fa-dollar-sign"></span>
      </a>
    </div>
    
  </div>
  
</div>

<!--display like this on medium- screens-->
<div id="container-mdminus" class="mdminus nonebox">
  
  <!--main-->
  <div class="main nonebox">
    <h3 class="main_title text-center">
      <%= ebook.title %>
    </h3>
    <hr class="w-75">
    <p class="main_created text-center">
      <%= ebook.created %>
    </p>
    <p class="main_description">
      <%= ebook.description %>
    </p>
  </div>
  
  <br>
  <hr>
  
  <!--likes-->
  <div class="likes nonebox">
    <p class="likes_title">
      Likes
    </p>
    <p class="likes_count">
      <%= ebook.likes %>
    </p>
    <form class="like-form" action="/ebooks/<%= ebook._id %>/like" method="POST">
      <button href="http://unicorn-ui.com/" class="like_button d-block m-auto button button-3d button-giant button-primary button-rounded">
        Like <span class="fa fa-thumbs-up"></span>
      </button>
    </form>
  </div>
  
  <br>
  <hr>
  
  <!--views-->
  <div class="views nonebox">
    <p class="views_title">
      Views
    </p>
    <p class="views_count">
      <%= ebook.views %>
    </p>
    <button href="http://unicorn-ui.com/" class="views_button d-block m-auto button button-3d button-giant button-royal button-rounded">
      Viewed <span class="fa fa-eye"></span>
    </button>
  </div>
  
  <div class="w-100">
    <br>
    <hr>
    <br>
    <h2 class="text-center">
      <%= ebook.users.length %> Sold so far :)
    </h2>
    <br>
    <hr>
    <br>
  </div>
  
  <!--preview-->
  <div class="preview">
    <h4 class="preview_title text-center">
      Preview this Ebook
    </h4>
    <a class="d-block m-auto preview_button button button-glow button-border button-rounded button-giant button-highlight" href="/ebooks/<%= ebook._id %>/read">
      Preview <span class="fa fa-search"></span>
    </a>
  </div>
  
  <br>
  
  <!--buy-->
  <div class="buy">
    <h4 class="buy_title text-center">
      Buy this Ebook
    </h4>
    <a class="d-block m-auto buy_button button button-glow button-border button-rounded button-giant button-action" href="/ebooks/<%= ebook._id %>/buy">
      Buy <span class="fa fa-dollar-sign"></span>
    </a>
  </div>
  
  <br><hr>
  
</div>
  

<!--Rating-->
<p id="rating_title">
  Rating:
</p>
<div id="rating_live" class="nonebox">
  <% for (var i = 0; i < Math.round(ebook.rating * 5); i++) { %>
    <img class="rating_live_taco" src="https://cdn0.iconfinder.com/data/icons/junk-food-emoji-set/100/Taco-512.png">
  <% } %>
  <% for (var i = 0; i < (5 - Math.round(ebook.rating * 5)); i++) { %>
    <img class="rating_live_taco" src="https://cdn4.iconfinder.com/data/icons/dottie-food/24/food_012-taco-fast_food-eat-tortilla-512.png"> 
  <% } %>
</div>

<hr>

<!--ratings title-->
<h1 class="text-center">
  Ratings: <span class="badge badge-success"><%= ebook.ratings.length %></span>
</h1>

<!--ratings-->
<div id="ratings">
  <% for (var i = 5; i >= 0; i--) { %>
    <div class="row w-75 m-auto">
      <% for (var j = 0; j < 5; j++) { %>
        <div class="rating_col col-2">
          <% if (j < i) { %>
            <img class="rating_taco" src="https://cdn0.iconfinder.com/data/icons/junk-food-emoji-set/100/Taco-512.png">
          <% } %>
        </div>
      <% } %>
      <div class="rating_col col-2">
        <p class="rating_type_count nonebox">
          <%= (ebook.ratings.filter(rating => Math.round(rating.value * 5) == i).length / ebook.ratings.length * 100) || "0" %> %
        </p>
      </div>
    </div>
    <hr class="w-75 d-block m-auto">
  <% } %>
</div>

<!--add/edit rating-->
<% if (currentUser) { %>
  <!--if not rated yet-->
  <% if (ebook.ratings.filter(rating => rating.author.equals(currentUser._id)).length == 0) { %>
    <p id="rating_add_text">
      Rate (0-5):
    </p>
    <form id="rating_add" action="/ebooks/<%= ebook._id %>/ratings" method="POST">
      <input id="rating_add_input" class="form-control" name="value" type="text" placeholder="5"> / 5
    </form>
  <% } else { %>
    <!--if already rated-->
    <p id="rating_current">
      You rated this Ebook: <%= ebook.ratings.filter(rating => rating.author.equals(currentUser._id))[0].value %>
    </p>
    <p id="rating_edit_text">
      Edit Rating:
    </p>
    <form id="rating_edit" class="nonebox" action="/ebooks/<%= ebook._id %>/ratings" method="POST">
      <input id="rating_edit_input" class="form-control" name="value" type="text" placeholder="5"> / 5
    </form>
  <% } %>
<% } %>

<hr>

<!--reviews-->
<div id="reviews" class="container">
  
  <!--"reviews" title-->
  <h1 id="reviews_title" class="text-center">
    Reviews: <span class="badge badge-primary"> <%= ebook.reviews.length %> </span>
  </h1>
  
  <!--leave a review-->
  <% if (currentUser) { %>
    <% if (ebook.reviews.filter(review => review.author.equals(currentUser._id)).length == 0) { %>
      <p id="review_added" class="text-center w-100 d-block"></p>
      <h3 id="review_leave_title" class="text-center">
        Leave a Review:
      </h3>
      <form id="review_add" class="w-100" action="/ebooks/<%= ebook._id %>/reviews" method="POST">
        <textarea name="content" id="review_add_content" class="form-control w-75 m-auto"></textarea>
        <br>
        <button class="button button-raised button-caution d-block button-large w-50 m-auto"><i class="fa fa-plus"></i> Add</button>
      </form>
    <% } else { %>
      <h3 id="review_edited_title" class="text-center w-100 d-block"></h3>
      <p id="review_edited" class="text-center w-100 d-block"></p>
      <h3 id="review_edit_title" class="text-center">
        Edit Review:
      </h3>
      <form id="review_edit" class="w-100" action="/ebooks/<%= ebook._id %>/reviews?_method=PUT" method="POST">
        <textarea name="content" id="review_edit_content" class="form-control w-75 m-auto">
          <%= ebook.reviews.filter(review => review.author.equals(currentUser._id))[0].content %>
        </textarea>
        <br>
        <button class="button button-raised button-caution d-block button-large w-50 m-auto"><i class="fa fa-edit"></i> Edit</button>
      </form>
    <% } %>
  <% } %>
  
  <br><br>
  
  <!--actual reviews-->
  <ul class="list-group">
    <% ebook.reviews.forEach(function(review) { %>
      <li class="list-group-item">
        <h2 class="text-center">Content</h2>
        <hr>
        <p>
          <%= review.content %>
        </p>
        <div class="row">
          <div class="col-6">
            <h4 class="text-center">
              Created
            </h4>
            <hr>
            <h6 class="text-center">
              <%= review.created %>
            </h6>
          </div>
          <div class="col-6">
            <h4 class="text-center">
              Author
            </h4>
            <hr>
            <h6 class="text-center">
              <%= review.author.username %>
            </h6>
          </div>
        </div>
      </li>
      <br>
    <% }); %>
  </ul>
  
</div>

<br>


<% include ../partials/footer.ejs %>