<% include ../partials/header.ejs %>

  <!--external-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!--internal-->
  <link rel='stylesheet' type='text/css' href='stylesheets/account.css'>
  <script type='text/javascript' src='scripts/account.js'></script>

  <br>

  <div class='container'>
    
    <form method="post" action="http://example.com/">
      <input type="file">
      <input id="fileDragName">
      <input id="fileDragSize">
      <input id="fileDragType">
      <input id="fileDragData">
      <div id="dragDiv" style="width:200px; height:200px; border: 10px dashed #ccc">
        
      </div>
    </form>
    
    <div class='ui items'>
      <div class="item">
        
        <!--photo-->
        <div class="image">
          <!--https://www.freeiconspng.com/img/23485-->
          <img src="<%= currentUser.photo || "https://www.freeiconspng.com/uploads/no-image-icon-6.png" %>">
        </div>
        <div class="content">
          
          <!--username-->
          <a class="header">Username - <%= currentUser.username %></a>
          
          <!--id-->
          <div class="meta">
            <span>_id - <%= currentUser._id %></span>
          </div>
          
          <!--photo-->
          <div class='content'>
            <button class='ui big primary button'>
              Change photo <i class='fa fa-camera'></i>
            </button>
            <h1 class='ui sub header'>
              <em>
                Or Drag into the window
              </em>
              <hr>
            </h1>
          </div>
          
        </div>
      </div>
    </div>
    
    <!--Username-->
    <h3>New Username</h3>
    <form class='ui form' action='/account/username?_method=PUT' method='POST'>
      <div class='ui right action input'>
        <input type='text' name='username' value='<%= currentUser.username %>'>
        <button class='ui red button'>
          <i class='fa fa-edit'></i> &nbsp Yea
        </button>
      </div>
    </form>
    
    <br><br>
    
    <!--Password-->
    <h3>New Password</h3>
    <form class='ui form' action='/account/password?_method=PUT' method='POST'>
      <div class='ui right action input'>
        <input type='text' name='password' placeholder='password...'>
        <button class='ui yellow button'>
          <i class='fa fa-edit'></i> &nbsp Mhm
        </button>
      </div>
    </form>
    
    <br><br>
    
    <div class='ui statistics'>
      
      <!--Authorization-->
      <div class="large red statistic d-block m-auto">
        <div class="label">
          Authorization
        </div>
        <br>
        <div class="value">
          <%= currentUser.authorization || '0' %>
        </div>
      </div>
      
      <!--Likes-->
      <div class="violet statistic d-block m-auto">
        <div class="value">
          <i class='fa fa-thumbs-up'></i> <%= currentUser.likes || '0' %>
        </div>
        <br>
        <div class="label">
          Likes
        </div>
        <h3 class='ui sub header disabled text-center'>
          (coming soon)
        </h3>
      </div>
      
    </div>
    
  </div>

<% include ../partials/footer.ejs %>